extends layout

block content
  h1= title
  p This is Sequelize greeting you :)

  h2 Creating a new user
  form(action="/users/create", method="post")
    input(type="text", name="username")
    input(type="submit")

  h2 Users

  