#stream-container
{
    margin: 0px auto;width: 500px;display: block;
}
.stream-video
{
    float: left;margin: 0px 0px 20px 0px;padding: 0px;height: auto;width: auto;    
}
#videoElement
{
    width: auto;background-color: #666;border: 10px #333 solid;display: block;margin: 0px auto;height: 375px;box-sizing: content-box;
}
.dropdown
{
    float: left;width: 63%;text-align: center;   
}
.dropdown-submenu 
{
    position: relative;
}
.dropdown-submenu .dropdown-menu 
{
    top: 0;left: 100%;margin-top: -1px;
}
.dropdownstream 
{
    float: left;width: 100%;height: auto;margin-bottom: 20px;
}
.dropdownstreamright
{
    float: left;width: 100%;height: auto;margin-bottom: 20px;
}
#dropright
{
    margin-bottom: 15px;width: 73%;
}
.labeltext 
{
    float: left;width: auto;height: auto;
}
.stream-button
{
    float: none;display: block;margin: 0px auto;width: 14%;
}
#stream 
{
    padding: 7px 20px;background: blue;color: #fff;border-radius: 3px;border: none;text-transform: capitalize;
}    