body
{
    font-family: sans-serif;
}
#stream-container
{
    margin: 0px auto;width: 500px;display: block;
}
.stream-video
{
    float: left;margin: 0px 0px 20px 0px;padding: 0px;height: auto;width: auto;    
}
#videoElement
{
    width: auto;background-color: #666;border: 10px #333 solid;display: block;margin: 0px auto;height: 375px;box-sizing: content-box;
}
.formselect 
{
    float: left;width: 100%;height: auto;
}
.formselectcategory 
{
    float: left;width: 100%;margin-bottom: 15px;
}
.labeltext
{
    display: inline-block;margin-bottom: 5px;float: left;font-weight: 700;width: 30%;
}
.form-control 
{
    display: block;width: 70%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;float: left;
}
#streambutton
{
    padding: 7px 10px;font-size: 14px;width: 100px;
}